html {
  scroll-behavior: smooth;
}

.jumbotron {
  height: 100vh;
  background-color: black;
  width: 100%;
}

.jumbotron h1 {
  text-align: center;
}

.jumbotron h2 {
  text-align: center;
}

.sticky-footer {
  flex-shrink: 0;
}
